.box {
  display: table-cell;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
}

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

table {
  table-layout: fixed;
  width: 200px;
}

#result {
  overflow: scroll;
  width: 150px;
}

#C {
  overflow: hidden;
  width: 50px;
}
